/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ADD CSS BELOW */

body {
  padding: 32px;
  max-width: 1200px;
  margin: auto;
  
}

h1,
h2 {
  font-family:  "Bangers", cursive;
}

h1 {
  text-align: center;
  font-size: 48px;  
}

h2 {
  text-align: center;
  font-size: 24px;  
  padding: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  padding-top: 50px;  
  list-style: none;
}

.col {
  border-style: dashed;
  background-color: rgb(226, 226, 226);
  border-color:grey;
  border-width: 3px;
  padding:15px 
  
}

.image {
  max-height: 250px;
}
